@use postcss-custom-media;
@use postcss-nested; 
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@custom-media --min-sm (width >= 768px);


html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(14, 14, 14);
    color: rgb(243, 243, 243);
    margin-left: 7%;
    margin-right: 7%;
  }

/* get rid of link underlines */
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/* navbar */
.navbar {
    overflow: hidden;
    text-align: center;
}
.navbar a {
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    color: white;
    position: relative;
    text-decoration: none;
    padding: 10px 25px;
}

/* navbar hover animation */
.menu a {
    transition: color .2s ease;
    display: inline-block;
}
.menu a:hover {
    color: #aaa;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transform-origin: bottom right;
    transition: transform 0.7s ease-out;
}

.menu a:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* body */

em {
    font-style: normal;
    color:orange;
}

h1{
    color: rgb(243, 243, 243);
    font-size: min(max(16px, 5vw), 32pt);
}

h2 {
    text-align: center;
}

/* links bar */
.mylinks{
    position: relative;
    text-align: center;
}

.secret-link {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

.home-box {
    display: flex;
    align-items: flex-start;
}

.blogpost {
    margin-left: 5px;
    margin-right: 5px;
}

img {
    width: 30vw;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: absolute;
}

.blogpost .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogpost .title h2 {
    font-family: Arial, 'Helvetica', sans-serif;
}

.blogpost .title p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
  }

.flex-text {
    display:flex;
    flex-direction:column;
}

/* typewriter effect */

.typewriter h1 {
    overflow: hidden;
    text-align: center;
    border-right: .5em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    margin-bottom: 15px;
    letter-spacing: .1em;
    animation:
        typing 3.5s steps(40,end),
        blink-caret .65s step-end 8;
    border-right: .15em solid transparent;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

/* button */
.btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: all .6 ease-out;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;

    background: linear-gradient(to right, rgb(86, 86, 86) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.btn:hover {
    background-position: left bottom;
    color: orange;
}

/* water text */
.water {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 30px;
}

.water h2{
    color: #fff;
    position: absolute center;
    margin-bottom: -50px;
}

.water h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
  }
  
.water h2:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
    transform: translate(0,-80%)
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  /* ghost */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
  .contact {
	width: 100%;
	height: 100%;
    overflow-block:hidden;
    overflow-clip-margin: hidden;
	display: grid;
	place-items: center;
    transform: translate(0,50px)
}

.contact-me {
	position: absolute;
}
.contact-me h1 {
	font-size: 40px;
	font-weight: 900;
    height: 100%;
	font-family: "Montserrat", sans-serif;
	color: white;
}

.ghost {
	width: 20px;
	height: 24px;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
	background-image: radial-gradient(ellipse at 35% 40%, white 8%, transparent 0%),
		radial-gradient(ellipse at 65% 40%, white 8%, transparent 0%),
		radial-gradient(ellipse at 50% 60%, white 8%, transparent 0%);
	border-radius: 100% / 70% 70% 0% 0%;
	transform: translateX(100em) 
    rotateZ(-90deg);
	position: relative;
	opacity: 0.9;
	mix-blend-mode: exclusion;
	animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
	0% {
		transform: translateX(15em) rotateZ(-90deg);
	}
	100% {
		transform: translateX(-15em) rotateZ(-90deg);
	}
}
.ghost div {
	position: absolute;
	width: 20%;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
	height: 7vmin;
	left: 0;
	bottom: -6vmin;
	border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
	height: 4vmin;
	left: 20%;
	bottom: -3vmin;
	border-radius: 100% / 50% 50% 0% 0%;
	background-color: transparent;
}
.ghost div:nth-of-type(3) {
	height: 4vmin;
	left: 40%;
	bottom: -3.95vmin;
	border-radius: 100% / 0% 0% 60% 60%;
	background-color: var(--white);
}
.ghost div:nth-of-type(4) {
	left: 60%;
}
.ghost div:nth-of-type(5) {
	height: 3vmin;
	left: 80%;
	bottom: -2.9vmin;
	border-radius: 100% / 0% 0% 70% 70%;
	background-color: var(--white);
}


/* rotating text effect */
.rotatingText { 
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 30px;
  }
  
  .rotatingText-content { 
    position: relative;
    width: 100%;
  }
  
  .rotatingText-description { 
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    
    @media (min-width: 768px) { 
      font-size: 18px;
    }
  }
  
  .rotatingText-adjective { 
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    left: 0;
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    
    @media (min-width: 768px) { 
      font-size: 70px;
    }
}
    
.rotatingText-adjective:nth-of-type(1) { 
      animation: rotate-text-up 1.5s .75s; 
    }
    
    .rotatingText-adjective:nth-of-type(2) { 
      animation: rotate-text-up 1.5s 2s; 
    }  
    
    .rotatingText-adjective:nth-of-type(3) { 
      animation: rotate-text-up 1.5s 3.25s;
    }
    .rotatingText-adjective:nth-of-type(4) { 
        animation: rotate-text-up 1.5s 4.5s;
    }
    .rotatingText-adjective:nth-of-type(5) { 
    animation: rotate-text-up 1.5s 5.75s;
    }
    .rotatingText-adjective:nth-of-type(6) { 
        animation: rotate-text-up 1.5s 7s;
        }
    .rotatingText-adjective:nth-of-type(7) { 
        animation: rotate-text-up 1.5s 8.25s;
        }
    .rotatingText-adjective:nth-of-type(8) { 
    animation: fade-text-in 1.5s 9.5s forwards;
    }
  
  @keyframes rotate-text-up { 
    0% {
      transform: translate3d(0, 80px, 0);
      opacity: 0;
    }
    
    20%, 80% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    
    100% {
      transform: translate3d(0, -40px, 0);
      opacity: 0;
    }
  }
  
  @keyframes fade-text-in { 
    0% {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
    }
    
    50%, 100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

/* music animation */
.playing {
    position: absolute;
    margin: auto;
    transform: translateX();
  }
  .now.playing .bar {
    display: inline-block;
    position: relative;
    margin-right: -3px;
    width: 5px;
    height: 1px;
    overflow: hidden;
    background: white;
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .n1 {
    animation-delay: 0.5s;
  }
  .n2 {
    animation-delay: 0.2s;
  }
  .n3 {
    animation-delay: 1.2s;
  }
  .n4 {
    animation-delay: 0.9s;
  }
  .n5 {
    animation-delay: 2.3s;
  }
  .n6 {
    animation-delay: 1.3s;
  }
  .n7 {
    animation-delay: 3.1s;
  }
  .n8 {
    animation-delay: 1.9s;
  }
  @keyframes pulse {
    0% {
      height: 6px;
      margin-top: 0;
    }
    10% {
      height: 24px;
      margin-top: -40px;
    }
    50% {
      height: 12px;
      margin-top: -20px;
    }
    60% {
      height: 18px;
      margin-top: -30px;
    }
    80% {
      height: 36px;
      margin-top: -60px;
    }
    100% {
      height: 1px;
      margin-top: 0;
    }
  }
.music-effect{
    display: inline-block;
    margin-top: 20px;
}


/* book effect */
.book {
    transform-style: preserve-3d;
    position: relative;
    height: 60px;
    cursor: pointer;
    backface-visibility: visible;
    margin-top: 40px;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 45px;
    height: 100%;
    top: 0; left: 50%;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background: gray;
  }
  
  .front, .page1, .page3, .page5 {
    border-bottom-right-radius: .25em;
    border-top-right-radius: .25em;
  }
  
  .back, .page2, .page4, .page6 {
    border-bottom-right-radius: .25em;
    border-top-right-radius: .25em;
  }
  
  .page1 { 
    background: #bbbbbb;
  }
  
  .page2 {
    background: #bbbbbb;
  }
  
  .page3 {
    background: #e3e3e3;
  }
  
  .page4 {
    background: #e3e3e3;
  }
  
  .page5 {
    background: #f5f5f5;
  }
  
  .page6 {
    background: #f5f5f5;
  }
  
/* start book open */
  .book .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book .back {
    transform: rotateY(-20deg) scale(1.1);
  }

/* close book */
  .book:hover .front {
    transform: rotateY(30deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page1 {
    transform: rotateY(30deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page2 {
    transform: rotateY(30deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page3 {
    transform: rotateY(40deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page4 {
    transform: rotateY(40deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page5 {
    transform: rotateY(30deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page6 {
    transform: rotateY(50deg) scale(0.9);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .back {
    transform: rotateY(20deg) scale(0.9);
  }

#my-links {
    background-color:rgb(18, 18, 18);
    height: 100%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
}




.dictionary-container {
  max-width: 800px;
  margin: 50px auto;
  background: rgb(14, 14, 14);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
.search-bar input, .search-bar select, .search-bar button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(14, 14, 14);
  border-radius: 4px;
  color: white;
}
.search-bar button {
  background-color: orange;
  color: rgb(14, 14, 14);
  cursor: pointer;
}
.search-bar button:hover {
  background-color: darkorange;
}
.word-list {
  list-style: none;
  padding: 0;
}
.word-item {
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}
.word-item:last-child {
  border-bottom: none;
}
.word-title {
  font-weight: bold;
}